<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.university.dao.ManyToManyRepository">

    <insert id="createStudentsExams"  keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO exams_students(exam_id, student_id) VALUES (#{examID}, #{studentId})
    </insert>

</mapper>